@page "/"
@inject ApplicationDbContext Banco

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Cadastro de Dragões</h2>
        <form>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" @bind-value="dragao.Nome" class="form-control" id="nome" placeholder="Informe o nome">
            </div>
            <div class="form-group">
                <label for="cor">Cor</label>
                <input type="text"  @bind-value="dragao.Cor" class="form-control" id="cor" placeholder="Informe a cor">
            </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" @bind-value="dragao.Estado" class="form-control" id="estado" placeholder="Informe o estado">
            </div>
            <button type="submit" @onclick="Adiciona" class="btn btn-primary mt-4">Enviar</button>
        </form>
    </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cor</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dragao in Banco.Dragoes.ToList())
        {
            <tr>
                <td>@dragao.Nome</td>
                <td>@dragao.Cor</td>
                <td>@dragao.Estado</td>
            </tr>
        }
    </tbody>
</table>

@code {
    Dragao dragao = new ();

    private void Adiciona()
    {
        dragao.Id = 0;
        Banco.Dragoes.Add(dragao);
        Banco.SaveChanges();
    }
}
